@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy Regular';
  src: url('/fonts/Gilroy/Gilroy-Regular.woff');
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('/fonts/Gilroy/Gilroy-Medium.woff');
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('/fonts/Gilroy/Gilroy-ExtraBold.woff');
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('/fonts/Gilroy/Gilroy-Bold.woff');
}

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url('/fonts/Gilroy/Gilroy-SemiBold.woff');
}
